*.xlsx
*.pdf
*.zip
*.pyc
*.prn
*.asc
*.mat
**/__pycache__/

0_data_preprocessing/raw_data/*
1_sensitivity_analysis/results/*
2_GLUE_analysis/results/*
3_post_analysis/results/*
data/Mahurangi/parameters/*
dat/Mahurangi/plot/*
data/Mahurangi/trash/*
data/seasonsig_test/*
data/trash/*