*.xlsx
*.pdf
*.zip
*.pyc
*.prn
*.asc
*.mat
**/__pycache__/

.DS_Store
.idea
.vscode

0_data_preprocessing/raw_data/*
1_pre_calibration/results/*
1_sensitivity_analysis/results/*
2_GLUE_prerun/results/*
3_GLUE_postrun/results/*
4_post_analysis/results/*
4_post_analysis/temporary_config_reproducing_run/*
data/Mahurangi/parameters/*
data/Mahurangi/temporary_parameter_files_for_GLUE/*
data/Mahurangi/temporary_parameter_files_for_sensitivity_analysis/*
data/Mahurangi/temporary_parameter_files_for_calibration/*
data/LittleWashita/temporary_parameter_files_for_GLUE/*
data/LittleWashita/temporary_parameter_files_for_sensitivity_analysis/*
data/LittleWashita/temporary_parameter_files_for_calibration/*
data/Mahurangi/trash/*
data/seasonsig_test/*
data/trash/*
zzz_escape/*